[2016-06-21 18:12] villanueval opened #1 "Page title missing"
The list and each dataset page shows this as the title in the browser title bar:

[code]

I'm guessing the title is missing after the `-`.

[2016-06-21 21:38] villanueval opened #2 "Right-clicking on dataset title sends to wrong url"
Right-click on dataset title and open link in new tab/windows at http://mol.org/datasets/ sends you to

http://mapoflife.github.io/datasets/info/214f3521-44d8-4c83-a003-e692f2c8ee57

which returns a 404 error instead of

http://mol.org/datasets/info/214f3521-44d8-4c83-a003-e692f2c8ee57

[2016-06-22 03:53] #1 closed, assigned to funkycoda

[2016-06-22 05:15] funkycoda commented on #2
There seems to be an issue with the base-url setting. @jmalczyk, do you think you have some ideas here?

[2016-06-23 22:27] funkycoda commented on #2
Should now be fixed

[2016-06-23 22:27] #2 closed, assigned to funkycoda

[2016-06-23 22:31] funkycoda opened #3 "Allow sorting and/or text filter for each column"
On the dataset list available at http://mol.org/datasets/

[2016-07-01 15:54] villanueval opened #4 "Going back from dataset does not send to the same tab"
If I click on a rangemap in the list, then go back, the list of datasets will be on the inventories, not in the list of rangemaps.

Can the page go back to whichever the active tab was instead of always to the inventories?

[2016-07-04 07:42] funkycoda opened #5 "Update external libraries"
Might need to update some of the external libraries we are using to build this. Got the following message post-installing a fresh copy of the repo.

[code]

[2016-07-05 08:40] funkycoda opened #6 "Zoom to dataset bounds or geographic scope"
When viewing a dataset info, the map should automatically zoom to the its bounds. For instances where there isn't a map associated (there should be one for all datasets?), we should zoom to the geographic scope, where available.

Example dataset:  http://mol.org/datasets/eb6963c6-694e-4135-be03-8aa88d5dd913

@ljvillanueva, can you comment why there are no maps associated with some of the datasets?

[2016-07-05 09:16] funkycoda opened #7 "Display a map legend"
What is the map even showing?

[2016-07-05 14:27] jmalczyk commented on #7
This is # of datasets in the grid cell that meet the selected filter criteria. Here is the map config:

https://github.com/MapofLife/cartodb-named-maps/blob/master/map_config/datasets-map.json

[2016-07-05 15:10] villanueval commented on #6
Some datasets dont have the geohashes yet. They are in prep.

[2016-07-05 15:12] villanueval opened #8 "Footer in middle of page"
https://mol.org/datasets/f607ed3d-fe0c-4367-b4b9-3d056763e43e
- The footer is stuck in the middle of the page instead of sticking to the bottom
- ~~Section headings are repeating (General, Geospatial, Taxonomy)~~

[2016-07-05 15:15] villanueval commented on #8
Repeated section headings is a problem in the API. Fixed.

[2016-07-05 16:30] villanueval commented on #8
Footer in the middle of page:

![footer](https://cloud.githubusercontent.com/assets/2302171/16591937/480b6e58-42ac-11e6-911c-a0fb36d934bf.png)

[2016-07-05 22:04] villanueval commented on #8
Fixed

[2016-07-06 20:48] jmalczyk commented on #6
Everythign should have geohashes now, and the maps are zooming the the visible extent of the selection. http://mol.org/datasets/269074a8-8a8b-4ad4-9896-6639085a3207. They are a bit slower because of that because there is an extra api call internally. We may be able to split those up to speed things along.

[2016-07-06 20:49] jmalczyk commented on #3
This is done.

[2016-07-06 20:49] #3 closed, assigned to nobody

[2016-07-06 20:50] jmalczyk commented on #7
WIP by Rafe. The API returns what is needed now...

http://api.mol.org/0.x/inventory/maps?datatype=localinv

[code]

[2016-07-07 14:13] villanueval opened #9 "Metadata area too small"
Looking in a small-ish screen, area of the text is too small. Plus, footer is moving from the bottom.

![smscreen](https://cloud.githubusercontent.com/assets/2302171/16656120/6d30a754-442b-11e6-9282-b9e832614dd6.png)

[2016-07-07 14:30] jmalczyk commented on #9
This will become a full scroll, and the map size should probably respond to
screen size.

On Thu, Jul 7, 2016 at 10:13 AM, Luis J. Villanueva <
notifications@github.com> wrote:

[2016-07-07 15:31] funkycoda commented on #9
I have the same issue as @ljvillanueva. I believe the solution should also target the full list view as well.

[2016-07-07 18:02] jmalczyk opened #10 "No need for a hamburger with just one or two buttons."
The responsive sub nav menu needs work everywhere in MOL, but here in particular it really is not needed. Strip out the responsive switches in there so the "All Datasets" button sticks around.

[2016-07-07 21:35] jmalczyk commented on #7
Legend looks good, but lets get it showing on the single dataset view too.

[2016-07-07 21:37] jmalczyk opened #11 "Map is blank returning to All datasets view"
For some reason the map is not getting refreshed when you click "All datasets" to go back from a single dataset view.

[2016-07-07 21:37] rafelafrance commented on #7
Why? There's only one dataset. We're telling the user nothing and using up map real-estate. I specifically removed it for that reason.

[2016-07-07 21:40] jmalczyk commented on #7
If the metric is dataset count, but we will be adding species richness and
record count soon. Once we do, we can switch off the dataset count metric
for that view.

On Thu, Jul 7, 2016 at 5:37 PM, rafe notifications@github.com wrote:

[2016-07-07 21:52] rafelafrance commented on #7
I put in some extra logic to get rid the excess legend entries.

[2016-07-08 13:42] funkycoda commented on #10
This should probably go into mol.org repo?

[2016-07-08 14:11] villanueval commented on #4
No longer relevant to current version. Closing.

[2016-07-08 14:11] #4 closed, assigned to nobody

[2016-07-08 16:37] #9 closed, assigned to villanueval

[2016-07-08 20:08] rafelafrance opened #12 "Show & hide the facets"
Show & hide the facets

[2016-07-08 20:10] rafelafrance opened #13 "Limit data sets to the current map bounding box"
Filter datasets when the map bounding box changes. Only how datasets that are contained in the bounding box.

[2016-07-08 20:52] jmalczyk commented on #13
Apply this as a filter before you do anything else in the UI. So s=zooming
in or out will change the count of datasets in the facet list, and the list
visible under the map. But we need to make it clear that is what is
happening, it could get weird.

On Fri, Jul 8, 2016 at 4:10 PM, rafe notifications@github.com wrote:

[2016-07-08 20:54] jmalczyk opened #14 "Make facet selector components that use ui-select dropdowns in the subnav."
The idea behind this is to be able to stick these in the subnav and clean up the sidebar.

[2016-07-13 13:48] jmalczyk opened #15 "Map should clear as soon as facets change"
Removing or adding a facet selection triggers a new map api call, but the map does not change until it returns. We should remove the current overlay (just set it to undefined) while waiting for the api to return. Also, make sure to set the "loading" param to true in order to display the mol-loading-indicator while the call is out.

[2016-07-14 16:28] jmalczyk commented on #15
Looks good.

[2016-07-14 16:28] #15 closed, assigned to jmalczyk, rafelafrance

[2016-07-14 16:28] #11 closed, assigned to jmalczyk, rafelafrance

[2016-07-14 16:29] #7 closed, assigned to jmalczyk, rafelafrance

[2016-07-14 19:35] rafelafrance opened #16 "Add toggles for displaying dataset content info"
Toggles for:
- Map view
- One for the table or info view

[2016-07-19 14:43] rafelafrance commented on #16
Todo:

- Fix navbar squeeze
- Get rid of "angular.js:13708 TypeError: Cannot read property 'controls' of undefined" console error

[2016-07-19 15:06] rafelafrance opened #17 "Fix navbar reactive display on small screens"
Fix navbar reactive squeeze. The Map & List links stop working and either bring back the hamburger or resize the elements and leave them on the navbar

[2016-07-19 15:07] rafelafrance opened #18 "Get rid of console error"
Get rid of "angular.js:13708 TypeError: Cannot read property 'controls' of undefined" console error

[2016-07-19 15:08] rafelafrance opened #19 "Map issues"
- Have map fit to width of page. It may be OK to have a horizontal scroll of the facets are displaying
- The map is not showing on small screens
- The map is not centering on every other redisplay. It seems to center on Antarctica in those cases. This is only happening on the single dataset display

[2016-07-19 16:02] jmalczyk opened #20 "Make content area fill down to footer."
This may have to do with how the footer is being positioned. It seems the height of the content area is being limited by the height of the map/table content. It should fill down to the footer.

[2016-07-25 18:00] jmalczyk opened #21 "Switching to a map view with subnav toggle zooms map to wrong place."
Seems easy to get sent to Antarctica. Which normally I would be cool with, but here it's not the expected behavior.

[2016-07-25 18:02] rafelafrance commented on #21
Already posted in issue #19

[2016-07-25 18:02] #21 closed, assigned to rafelafrance

[2016-07-26 15:51] rafelafrance opened #22 "Change View Mode text 'Everything'"
Currently says 'Everything', should be 'Both', or something better.

https://3.basecamp.com/3232053/buckets/1126873/todos/179852163

[2016-07-26 16:01] rafelafrance opened #23 "Remove legend from individual dataset view"
Number of Datasets will always equal 1

https://3.basecamp.com/3232053/buckets/1126873/todos/179852163

[2016-07-26 16:03] jmalczyk commented on #22
We went over this before, but I still feel like the "both" is redundant.
Could we try maybe doing two switches where at least one is forced on? Not
advocating a ui framework (right now anyway) but I really like the material
design ones. https://material.angularjs.org/latest/demo/switch

[2016-07-26 16:20] jmalczyk commented on #23
What we should do here is change the visualization to be something more
meaningful, like record count or species richness. So leave the legend for
now, but assume the api for the maps can be configured for other metrics
and aggregation types. Add params like this:

{
  ...
  "property" : "record_ct",
  "reducer": "sum"
}

Which would sum up record counts in each geohash. This will give us more
fle

[2016-07-26 17:59] jmalczyk opened #24 "List sort on numeric columns doesn't seem to work right."
Looks like it is treating the values as string and sorting alphabetic. So, in a descending sort, "99" is above "100". Might need to add a "type" attribute to the facet API for the UI to know this.

[2016-07-26 18:58] rafelafrance opened #25 "Taxonomic group sorting/ordering"
Taxonomic group: As previously requested, let’s put these in more sensible order. And can we group them? Vertebrates, Invertebrates Plants. This way, most folks would be able to the full list. Dodgy that part is hidden now, and requires messing with left hand scroll bar to see.

https://3.basecamp.com/3232053/buckets/1126873/todos/179819577

[2016-07-26 18:59] funkycoda commented on #24
The API should now return proper integers

[2016-07-26 19:18] rafelafrance opened #26 "Format numbers in tables"
1) Determine data type from fields
2) If the data type is numeric then put a filter on it for better formatting

[2016-07-26 19:53] jmalczyk opened #27 "Sidebar hider styling"
Give it a margin-left: -2 to make it look like part of the sidebar. And maybe set position as fixed and top to 50vh. While we are at it, see if you can make the facet toolbar stick in view as you scroll down using fixed positioning.

[2016-07-26 20:24] jmalczyk commented on #25
Looks good to me.

[2016-07-26 20:24] #25 closed, assigned to jmalczyk, rafelafrance

[2016-07-26 20:25] #26 closed, assigned to jmalczyk, rafelafrance

[2016-07-26 20:26] jmalczyk commented on #13
This behaviour is pretty weird, let's turn it off for now.

[2016-07-26 20:34] rafelafrance opened #28 "Colors and legend values inconsistent between different filters/views"
When viewing all datasets versus for example only amphibians, the legend values change and the colors are assigned to different values. How are we deciding how to split these values and can we standardize these?

https://3.basecamp.com/3232053/buckets/1126873/todos/179851893

[2016-07-26 20:35] rafelafrance opened #29 "Change color scale to a more subtle gradient"
At the moment, change from blue/green to pink is too dramatic

https://3.basecamp.com/3232053/buckets/1126873/todos/179832301

[2016-07-26 20:36] rafelafrance opened #30 "Number of records and species still missing for some datasets"
Cleanup of mol_data_registry is running. Will take care of this issue.

https://3.basecamp.com/3232053/buckets/1126873/todos/179834922

[2016-07-26 20:37] #30 closed, assigned to nobody

[2016-07-26 20:38] rafelafrance opened #31 "Display polygon instead of cells for single datasets"
Display original outline of dataset

In plans, depends on https://github.com/MapofLife/database/issues/321

https://3.basecamp.com/3232053/buckets/1126873/todos/179818568

[2016-07-26 20:39] rafelafrance opened #32 "Modify map extent for single datasets from 80% fill to 20% fill"
Zoom out further

https://3.basecamp.com/3232053/buckets/1126873/todos/179817618

[2016-07-26 20:39] rafelafrance opened #33 "Add switch for Marine/Terrestrial"
Can be via taxon grouping or a separate binary filter

https://3.basecamp.com/3232053/buckets/1126873/todos/179810737

[2016-07-26 20:40] rafelafrance opened #34 "Change position or size of view modes to emphasize dataset options"
Preferable to be able to view the full list of taxa

https://3.basecamp.com/3232053/buckets/1126873/todos/179808348

[2016-07-26 20:41] rafelafrance opened #35 "Find alternative to map sitting above list"
From 'both' or 'everything' view

https://3.basecamp.com/3232053/buckets/1126873/todos/179805387

[2016-07-28 14:53] villanueval opened #36 "regionalchecklist dissappear"
When loading, a "Regional Checklist" appears in the Data Type, but then it goes away.

[2016-07-28 15:06] villanueval commented on #24
Works now.

[2016-07-28 15:06] #24 closed, assigned to jmalczyk, rafelafrance

[2016-07-28 15:56] jmalczyk opened #37 "Implement other metrics for map and legend API"
inventory/map should support a property and reducer attribute to allow aggregate metrics across other grid cell statistics that are being added to geohash_summary_stats. Example

[code]

[2016-07-28 16:03] jmalczyk commented on #31
I actually don't think this will be necessary once we have other statistics configured to be visualized in the interface. We are only using dataset count right now because it was convenient, we can add species richness for single dataset views and record count soon.

[2016-07-28 16:07] walterj commented on #31
Not sure I follow. With ‘dataset’ my comment referred to a single local inventory, i.e. what _used_ to show up here (right now nothing shows up on the map)
http://mol.org/datasets/6e8ca764-415f-4d02-9a3c-9d86c50c3cd5

From: Jeremy Malczyk [mailto:notifications@github.com]
Sent: Thursday, July 28, 2016 12:03 PM
To: MapofLife/datasets
Subject: Re: [MapofLife/datasets] Display polygon instead of cell

[2016-07-28 16:14] jmalczyk commented on #31
This has only ever showed grid cells. Nothing showing for that dataset is
another issue (you should  see grid cells lit up blue).

http://mol.org/datasets/87b1cca7-decd-4229-b71c-2cf5adf6cbbd

This interface has no way of knowing if a dataset is a single geometry or
not. The way to support this would be to union all geometry in a dataset
into a single geometry, or show the coverage polygon for a g

[2016-07-28 16:18] walterj commented on #31
Thank for the additional explanation. It’s not critical to show polygons here, and for now the geohashes definitely do the trick. But let’s zoom out a bit further by default for inventories consisting of just a few hashes.

From: Jeremy Malczyk [mailto:notifications@github.com]
Sent: Thursday, July 28, 2016 12:15 PM
To: MapofLife/datasets
Cc: Jetz, Walter; Comment
Subject: Re: [MapofLife/datasets]

[2016-07-28 16:39] rafelafrance commented on #36
Should be fixed now

[2016-07-28 16:41] rafelafrance opened #38 "Fix scrolling"
Have the facets and map/list areas scroll independently

[2016-07-28 17:13] villanueval commented on #36
Yep, is no longer disappearing.

[2016-07-28 17:13] #36 closed, assigned to villanueval

[2016-07-28 19:16] rafelafrance commented on #32
This solution looks hacky but it works surprisingly well

[2016-07-28 20:25] jmalczyk commented on #38
This is better. I like that the facets stay in view. What do you think
@funkycoda? Was originally thinking of using display:fixed on the sidebar
content to keep it in view as the rest of the page scrolled, so the header
could scroll out of view, but this is probably fine.

On Thu, Jul 28, 2016 at 4:07 PM, rafe notifications@github.com wrote:

[2016-07-28 20:37] funkycoda commented on #38
I agree. I do like this already, but  future version should scroll the header. There isn't too much content within header to let it NOT scroll. This would mean it would have the same functionality as the dataset info page too where the header scrolls.

E.g: http://mol.org/datasets/fe4b9fd2-7da6-46b8-8bef-754044461210

[2016-07-28 20:39] funkycoda commented on #8
This looks like it's back again. Maybe related to the change you did for #38, @rafelafrance  ?

http://mol.org/datasets/fe4b9fd2-7da6-46b8-8bef-754044461210

[2016-07-28 20:42] rafelafrance commented on #8
fixed

[2016-07-28 20:49] jmalczyk commented on #38
yeah, maybe while we are here, see  if you can get it so everything scrolls
as before, but the sidebar container   sticks to the top when the header is
out of view. There may be a bootstrap class for this.

On Thu, Jul 28, 2016 at 4:37 PM, Ajay Ranipeta notifications@github.com
wrote:

[2016-07-28 20:54] #8 closed, assigned to funkycoda, villanueval

[2016-07-28 20:59] funkycoda commented on #38
Yeah, it'd be great to see if we can get this affect: http://getbootstrap.com/javascript/#affix
Can't see it available on [Angular-Bootstrap](http://angular-ui.github.io/bootstrap/)

Don't think this is super urgent though. Something for a wish list, perhaps.

[2016-07-28 21:10] jmalczyk commented on #38
If it involves significant jquery-based bootstrap let's not touch it right
now.

On Thu, Jul 28, 2016 at 4:59 PM, Ajay Ranipeta notifications@github.com
wrote:

[2016-07-29 14:00] rafelafrance commented on #35
Have we settled on a design for this?

[2016-07-29 14:33] funkycoda commented on #35
Let me ponder this later today or over the weekend. Let's hold of on this till Monday

[2016-07-29 14:34] funkycoda commented on #34
LGTM.

Closing for now. Re-open if needed!

[2016-07-29 14:34] #34 closed, assigned to jmalczyk

[2016-07-29 14:35] funkycoda commented on #22
I think this is fine for now.

I would only suggest that when the page initially loads, that the "Both" option is actually highlighted (just like when you click it)

[2016-07-29 14:36] jmalczyk commented on #35
No, we have not. Given the width of the table I'm not sure there is one.
You could put the map  and lists in a bootstrap column so it sits in the
middle or on the right on really wide screens, and then on top on narrow
ones.  Worth a try, might behave weird though.

On Fri, Jul 29, 2016 at 10:00 AM, rafe notifications@github.com wrote:

[2016-07-29 14:40] #13 closed, assigned to nobody

[2016-07-29 15:10] funkycoda opened #39 "Make HTTPS calls"
Just so the security works, let's also add the map tiles via HTTPS

[2016-07-29 15:25] #32 closed, assigned to jmalczyk

[2016-07-29 15:53] jmalczyk opened #40 "Make sidebar content smaller"
We should try to get all this to stay on screen as much as possible, so the only scroll-able is the content area. That is not possible for all screen sizes, but we can try.

[2016-07-29 15:54] jmalczyk opened #41 "Fill in more dataset types"
Gridded range atlases are still missing, and regional checklists dont seem to have geohash maps behind them

[2016-07-29 18:36] jmalczyk opened #42 "Use https map tiles"
Set Leaflet to pull tiles over SSL.

https://github.com/MapofLife/datasets/blob/master/src/static/app/views/map/controller.js#L23

[2016-07-29 19:11] villanueval opened #43 "Says login/register even when logged in"
Unlike MapofLife/species#9, I am on https, but it says 'login/register' on top. Showing private datasets, so I'm logged in.

[2016-07-29 19:13] funkycoda commented on #39
Closed via 5400271c4006086d31b3ac304190ab50ff9cdfa3

[2016-07-29 19:13] #39 closed, assigned to nobody

[2016-07-29 19:13] funkycoda commented on #42
Closed via 5400271c4006086d31b3ac304190ab50ff9cdfa3

[2016-07-29 19:13] #42 closed, assigned to rafelafrance

[2016-07-29 19:14] funkycoda commented on #43
Working on this

[2016-08-01 16:25] funkycoda commented on #43
@rafelafrance, that change breaks the site. I already tried that last week

[2016-08-01 16:26] jmalczyk commented on #43
Looks like cross-domain calls are broken now. Getting a blank page at
https://mol.org/datasets/

On Mon, Aug 1, 2016 at 12:22 PM, rafe notifications@github.com wrote:

[2016-08-01 16:27] rafelafrance commented on #43
yup... it looks like a problem with the white-list

[2016-08-01 20:53] #17 closed, assigned to nobody

[2016-08-02 14:42] jmalczyk commented on #43
This is not a datasets issue, see https://github.com/MapofLife/mol.org/issues/34

[2016-08-02 14:42] #43 closed, assigned to jmalczyk, funkycoda, rafelafrance

[2016-08-02 15:07] jmalczyk commented on #37
As a start, the metrics we will support are:

For maps across multiple datasets -- Number of datasets, number of records.
For maps of single datasets -- Number of records, number of species

For all of these the reducer applied will be sum (sum of counts within a spatial unit)

[2016-08-04 17:43] funkycoda opened #44 "Highlight the default View Mode option and make them responsive"
When the datasets page is loaded, the View Mode button, Both, isn't highlighted by default.

Also need to make it responsive, in the sense that when you tap the button on the edge, the button changes colour, but the view doesn't change.

[2016-08-04 17:43] #44 closed, assigned to funkycoda

[2016-08-05 15:59] jmalczyk opened #45 "Loading indicator placement"
Let's put the loading indicator just below the green bar like we do on other UI.

[2016-08-09 15:02] jmalczyk opened #46 "Make number of map/legend bins dynamic"
For cases where this is not much variance in the result, 8 bins is too many. This will require updates to the api  at https://github.com/MapofLife/api/blob/master/handlers/0_x/inventory/maps.py

[2016-08-09 15:08] jmalczyk opened #47 "Represent more application state via URL"
Users should be able to link to any combination of selected facets or map options. For instance,

[code]

would boot the UI into a map view of inventory and point record counts for mammals.

[2016-08-09 15:10] #40 closed, assigned to jmalczyk, rafelafrance

[2016-08-09 15:12] jmalczyk commented on #37
These are working. Styling enhancements are a separate issue.

[2016-08-09 15:12] jmalczyk commented on #29
No complaints on the new color scale. Closing/

[2016-08-09 15:12] #29 closed, assigned to jmalczyk

[2016-08-09 15:12] #37 closed, assigned to jmalczyk

[2016-08-09 15:13] jmalczyk commented on #28
Pushing this to next iteration, current method is documented in the basecamp thread.

[2016-08-09 15:13] #28 closed, assigned to nobody

[2016-08-09 15:27] jmalczyk commented on #35
Pushing this to next iteration.

[2016-08-09 19:53] jmalczyk opened #48 "Legend buckets are off by 1"
Looks like the legend is offset by one bucket.
The API  returns the upper bounds of a bucket. So the first bucket value in the legend should read "under xx" and the top end would read "yy-zz" instead of "zz and over".

[2016-08-09 19:58] jmalczyk commented on #48
Actually, looking at this closer it seems as if a bin value may be missing in the values the api is returning, but the fix may still require some client side changes.

[2016-08-10 15:52] jmalczyk opened #49 "Show inventory outlines in single dataset view."
To tease out inventories behind grid-based counts.

[2016-08-10 16:18] villanueval commented on #49
Depends on MapofLife/database#321

[2016-08-10 16:24] jmalczyk commented on #49
For single inventories that would work, but for multi-site inventories the dataset coverage polygon is going to be the union of all polygons it contains. For here I think we want to see the outline of all those individual polygons that a dataset might contain. So for dataset that contains many parks and protected areas within a larger region (which may overlap) we would see all those outlines brok

[2016-08-12 13:57] #6 closed, assigned to nobody

[2016-08-13 16:50] jmalczyk opened #50 "Make visualization types configurable."
Add an additional field added to the inventory/datasets api that the UI that can allow the UI to determine what map visualizations are available for a given dataset. For example record counts are only appropriate for points.

[2016-08-13 16:56] jmalczyk opened #51 "Add groupBy attribute to facet values"
Facets like taxonomic group need a groupBy attribute that the UI can use to cluster long lists of facets into more appropriate categories

[2016-08-13 17:04] jmalczyk opened #52 "Drop record count column from table view"
This is only appropriate for point datasets, let's drop this field from inventory/datasets for now

[2016-08-13 17:13] jmalczyk opened #53 "Split multi-inventory datasets into their constituent parts"
This is as much a database and api based issue as a front-end enhancement here. We need to establish a parent-child relationship within our dataset registry, and re-register components of large datasets to have their own dataset ids, with a parent id referencing the larger collection that came from. This could also be applied to very large aggregate datasets like GBIF.

In the datasets UI, in orde

[2016-08-15 16:13] funkycoda commented on #52
ETA
- API: 15 Aug
- UI: 15 Aug

[2016-08-15 16:13] funkycoda commented on #50
ETA
- API: 15 Aug
- UI: 16 Aug

[2016-08-15 16:13] funkycoda commented on #51
ETA
- API: 15 Aug
- UI: 17 Aug

[2016-08-15 16:14] funkycoda commented on #53
ETA
- API: 23 Aug
- UI: 25 Aug

[2016-08-15 16:14] funkycoda commented on #41
ETA
- Database: 18 Aug

[2016-08-15 16:22] funkycoda commented on #53
Dependant on this: https://github.com/MapofLife/database/issues/336

[2016-08-15 18:11] rafelafrance commented on #52
The API has added the "display" attribute and the table now filters on it.

[2016-08-15 18:31] #45 closed, assigned to rafelafrance

[2016-08-15 18:35] villanueval commented on #52
In 1.0 too.

https://api.mol.org/1.0/inventory/datasets

[2016-08-15 18:58] villanueval commented on #51
Test version on 0.x:

https://api.mol.org/0.x/inventory/datasets

[2016-08-15 19:35] villanueval commented on #50
Test available in 0.x.

Points have: `["no_species,no_records"]`

Other datasets have: `["no_species"]`

[2016-08-15 20:37] funkycoda commented on #52
LGTM

[2016-08-15 20:37] #52 closed, assigned to funkycoda

[2016-08-16 14:07] funkycoda commented on #18
Would Google Maps help instead of Leaflet?

[2016-08-18 18:19] #22 closed, assigned to rafelafrance

[2016-08-18 19:14] villanueval commented on #53
I'm gathering the title and citations for the children datasets of the  checklist_journal dataset. Once I have these, I can prepare the data registry and api to display the children with the parent dataset.

[2016-08-18 20:55] walterj commented on #53
FYI: Other multi-inventory much higher priority. But ok to start with this one if seemingly best suited for start.
W

On Aug 18, 2016, at 21:14, Luis J. Villanueva <notifications@github.com<mailto:notifications@github.com>> wrote:

I'm gathering the title and citations for the children datasets of the checklist_journal dataset. Once I have these, I can prepare the data registry and api to display

[2016-08-18 21:20] funkycoda commented on #51
Looks good @rafelafrance.
Do you think you can add an icon that shows the toggle state (open/close) like what the other facet types have?

[2016-08-18 22:52] funkycoda commented on #53
Walter, I think this is the one with a smaller list (30?) so wanted to test out how it would work before we go with the larger ones.

Do you have a suggestion for a priority list, potentially?

[2016-08-18 22:54] funkycoda commented on #51
Much better!! I finally like that the other facet filters' toggle menu is now on the left too. Makes more sense.

LGTM, so closing for now.

[2016-08-18 22:54] #51 closed, assigned to funkycoda

[2016-08-19 11:28] walterj commented on #53
Important for e.g. New World bird checklists, national park checklists.

Next should be atlas datasets (but they may be more involved).

Walter

From: Ajay Ranipeta [mailto:notifications@github.com]
Sent: Thursday, August 18, 2016 6:52 PM
To: MapofLife/datasets
Cc: Jetz, Walter; Comment
Subject: Re: [MapofLife/datasets] Split multi-inventory datasets into their constituent parts (#53)

Walter, I t

[2016-08-19 13:33] villanueval opened #54 "Invertebrates mixed with vertebrates"
In the Taxonomic Group, we have
- Butterflies  (11)
- Moths  (2)
- Bumblebees  (2)
- Dragonflies  (7)

The api (https://api.mol.org/0.x/inventory/datasets) seems to be returning the right group for each of these groups. Is it a problem in the way the UI does the grouping or should we re-code this grouping in the API?

[2016-08-19 15:23] rafelafrance commented on #54
Changed the filter on the groups to use strict equality

[2016-08-19 15:36] villanueval commented on #54
Grouping is correct now. Closing.

[2016-08-19 15:36] #54 closed, assigned to villanueval

[2016-08-19 18:40] villanueval commented on #53
Rafe, check the example dataset with children at:

https://mol.org/datasets/7d2d87f2-82a3-42a8-9f76-db5bb21f2c9a

https://api.mol.org/0.x/datasets/info?dataset_id=7d2d87f2-82a3-42a8-9f76-db5bb21f2c9a

[2016-08-22 14:28] funkycoda commented on #18
@rafelafrance is working on the [Google Maps version](https://github.com/MapofLife/datasets/tree/google-maps) which _may_ help with fixing this and other map related issues.

[2016-08-22 14:47] jmalczyk commented on #18
Might work, but may just replace the problem with a new one. When the
angular-google-maps directive is swapped in an out of templates I have had
issues getting the "resize" map event to fire, which leads to tiles
dropping off the right and bottom side. That may not be an issue here
because the size of the map is fixed (vs in flexbox).

We would like to use Google Maps for everything though, so eve

[2016-08-22 14:48] rafelafrance commented on #18
I can confirm that resize is a problem here too.

[2016-08-22 14:49] funkycoda commented on #18
Agreed, might fix some issues, but the "resize" problem might exist when showing/hiding the map too. Just another thing to watch out for.

[2016-08-22 15:11] jmalczyk commented on #18
Check out this issue for a potential fix

https://github.com/angular-ui/angular-google-maps/issues/1114

There is a ui-router-extras module that lets you make a state "sticky" so
the directive never gets destroyed, that sounds like it might do it for us
(for gmaps and leaflet).

http://christopherthielen.github.io/ui-router-extras/#/sticky

On Mon, Aug 22, 2016 at 10:49 AM, Ajay Ranipeta notificat

[2016-08-22 15:22] jmalczyk commented on #50
Sorry to add complexity here but we shouldn't lock ourselves into a single visualization type here. map layers are one, but we might also want to add things like charts (histogram across years or uncertainty for example). This works fine for now, but think about how we would restructure this response to be more flexible, something like:

[code]

[2016-08-22 15:28] funkycoda commented on #50
@jmalczyk, agreed. This could work. Would be good to know what type of viz features we'd like to add.

We could potentially use this format for other parts too (e.g. species, indicators, etc)

[2016-08-22 17:54] jmalczyk opened #55 "Make map/legend chloreopleth bin count dynamic"
Maps with low feature (grid) value variability have too many bins in the histogram. The inventory/maps api should first determine how much variability there is in the result to set the appropriate number of bins.

[2016-08-22 17:56] jmalczyk commented on #50
Let's call this done for 0.2. Will file another ticket when we want to add other visualization types.

[2016-08-22 17:56] #50 closed, assigned to jmalczyk

[2016-08-23 01:56] jmalczyk commented on #55
MapofLIfe/api/issues/138 and MapofLife/datasets/issues/56 fixes this.

[2016-08-23 13:38] rafelafrance commented on #48
lgtm

[2016-08-23 14:00] jmalczyk commented on #18
Looks like we are mostly past this? The remaining errors are likely ui-leaflet internal, possibly related UTF grid $http promises resolving after their tiles have dropped out of DOM (that's my WAG anyway).

[2016-08-23 14:24] funkycoda commented on #18
This looks like it's working now.

Do we (eventually?) want to move to Google Maps anyways, @jmalczyk?

[2016-08-23 14:24] #18 closed, assigned to jmalczyk

[2016-08-23 14:30] funkycoda opened #57 "Make all links "linkable""
To start with, under the **General** section the _URL_ should be made linkable.

To do this, change this, on [Line 6](https://github.com/MapofLife/datasets/blob/master/src/static/app/views/info/info.html#L6):

[code]

to

[code]

[2016-08-23 14:35] funkycoda opened #58 "Make constituent dataset links prettier"
When listing the constituent dataset links, e.g [Check List Journal](https://mol.org/datasets/7d2d87f2-82a3-42a8-9f76-db5bb21f2c9a), the list looks too busy and tight. Let's give it some room to breath.

Suggest the following (but feel free to play with it to make it look good):
- remove the list bullet points
- add some spacing between the links

A potential example would be: http://www.earthenv.

[2016-08-23 14:41] funkycoda opened #59 "Make dataset info layout prettier"
While it's looking great, I do feel like for some metadata heavy datasets, the info page is busy. Let's see if we can make it a little easy on the eye.

Start with, maybe look into changing [info.html#L6](https://github.com/MapofLife/datasets/blob/master/src/static/app/views/info/info.html#L6) from:

[code]

to

[code]

This should also include the change from Issue #57

[2016-08-23 14:41] funkycoda commented on #59
At least, just play with it too see if it looks good.

[2016-08-23 15:12] rafelafrance opened #60 "Fix z-index beteen map controls vs. the footer"

[2016-08-23 15:31] jmalczyk opened #61 "Move map layer switchers onto map"
Ideally we these should be a custom control on the map itself, but could use the Leaflet layer switcher as a fallback.

[2016-08-23 15:33] rafelafrance opened #62 "Move layer controls into the map itself"
Options:
- Preferred: create a custom control for switching layers
- Use the built-in layer control, possibly heavily modified by CSS
- Move the current buttons up (with heavy CSS modifications)
- Leave them as they are

[2016-08-23 15:33] jmalczyk commented on #48
Fixed by #56

[2016-08-23 15:33] #48 closed, assigned to jmalczyk

[2016-08-23 15:34] jmalczyk commented on #61
Duplicate of #62

[2016-08-23 15:34] #61 closed, assigned to rafelafrance

[2016-08-23 15:34] rafelafrance commented on #61
#Options:
- Preferred: create a custom control for switching layers
- Use the built-in layer control, possibly heavily modified by CSS
- Move the current buttons up (with more css modifications)

[2016-08-23 15:38] jmalczyk commented on #18
Let's stick with Leaflet for now.

On Tue, Aug 23, 2016 at 10:24 AM, Ajay Ranipeta notifications@github.com
wrote:

[2016-08-23 15:43] jmalczyk opened #63 "i18n"
Incorporate angular-translate and the MOL i18n directive to begin supporting other languages.

[2016-08-23 15:47] funkycoda commented on #59
LGTM

[2016-08-23 15:47] #59 closed, assigned to funkycoda

[2016-08-23 15:47] funkycoda commented on #60
LGTM

[2016-08-23 15:47] #60 closed, assigned to funkycoda

[2016-08-23 15:48] funkycoda commented on #57
LGTM

[2016-08-23 15:48] #57 closed, assigned to funkycoda

[2016-08-23 15:50] jmalczyk opened #64 "Regionalization"
Enable restriction to a  regional scope as in the species pages. Add a region type and region selectors, as well as path parameters that create views  (mol.org/kenya/datasets) of datasets within a particular region.

[2016-08-23 15:54] funkycoda commented on #58
Looks better.

After talking to @jmalczyk, could the following be tested?
- add a touch more spacing?
  - maybe add the `<hr>` divider to see how it might look?
- @jmalczyk suggestion would be indent the 2nd line of each link a bit more via CSS.
  - this will automagically work for any long dataset titles, of course

The `text-indent` would work like this:
- indent everything, say `margin-left: 5e

[2016-08-23 15:54] funkycoda commented on #58
BTW, 5em might be too much, let's say go with 2em? or 1em even?

[2016-08-23 16:05] jmalczyk opened #65 "Hide Author and Taxonomic Groups fields that are empty"
These are shown before the model that populates them is filled in.

https://mol.org/datasets/0002c72a-36fc-4b5e-9c0d-b2d5dbe90779

In general, we should put an ng-if or ng-show on metadata items that uses the value of their model. ng-if will remove that element from the DOM, which may help page performance.

[code]

[2016-08-23 16:11] jmalczyk opened #66 "Add URL parameters for all filters, map layers, and map bounding box."
The root state should accept URL parameters that track the selected facets, map layers, and map bounding box, so we can deep link to a particular selection and map view

[2016-08-23 16:46] #55 closed, assigned to jmalczyk

[2016-08-23 16:48] funkycoda commented on #65
I thought I added this as an issue, but this should globally encompass all elements. Looking at a blank map with nothing else doesn't make too much sense, from a UX perspective.

I would suggest the whole loading element should look like what I've added to the Uploader. More specifically, [point-uploader/..../datasets.html#L8-L18](https://github.com/MapofLife/point-uploader/blob/master/loader_app/

[2016-08-23 16:49] funkycoda commented on #66
Isn't this a duplicate to #47
Closing as such. Re-open if it isn't a duplicate

[2016-08-23 16:49] #66 closed, assigned to rafelafrance

[2016-08-23 16:50] funkycoda commented on #65
You'll also need to add the necessary CSS and show/hide other elements based on [this](https://github.com/MapofLife/point-uploader/blob/master/loader_app/templates/datasets.html#L35).

[2016-08-23 16:55] jmalczyk commented on #65
Also long as there is something spinning tell the user to wait it's fine.
Once we turn on caching for these views this really won't be much of an
issue. Since dataset metadata doesn't change often, there's no reason to
fetch from the database every time.

On Tue, Aug 23, 2016 at 12:50 PM, Ajay Ranipeta notifications@github.com
wrote:

[2016-08-25 19:25] rafelafrance commented on #62
I went with the 3rd option. Custom controls and the built -in layer control needed unreasonable amounts of CSS modification.

[2016-08-25 19:30] jmalczyk commented on #62
Should we/could we maybe drop the title on the legend and put these radios
there or just above the legend values? On narrow screens it's easy to miss
the controls over on the bottom right. Otherwise, LGTM

On Thu, Aug 25, 2016 at 3:25 PM, rafe notifications@github.com wrote:

[2016-08-25 19:35] funkycoda commented on #62
I agree, the options could go next the the "fullscreen" button (top-right) ?

[2016-08-25 19:43] funkycoda opened #67 "Maps not working on Firefox"
None of them it seems. Seem to throw an error for `showLegend()` function.

[2016-08-25 19:45] funkycoda commented on #65
LGTM. Closing for now.

[2016-08-25 19:45] #65 closed, assigned to jmalczyk

[2016-08-25 19:45] rafelafrance commented on #62
This is doable. However, the legend is a text only control and I had to hack it to get the legend title to work. What I'll do is combine the legend and radio buttons into one new control.

I prefer to keep the legend on the lower left. When you pile up the controls it looks too busy.

[2016-08-25 19:46] funkycoda commented on #58
LGTM. Closing for now.

[2016-08-25 19:46] #58 closed, assigned to jmalczyk

[2016-08-25 19:47] jmalczyk commented on #62
Could also get messy if/when we add more viz types. But I guess we could
turn it into a dropbox at that point.

On Thu, Aug 25, 2016 at 3:45 PM, rafe notifications@github.com wrote:

[2016-08-25 20:00] rafelafrance commented on #67
This is a problem with the following statement which will go away with the redesign of the legend.
document.styleSheets[0].addRule('.legend:before', 'content: "' + name + '";');

[2016-08-25 22:38] funkycoda commented on #67
looks better

[2016-08-25 22:38] #67 closed, assigned to funkycoda

[2016-08-25 22:40] funkycoda commented on #62
The new "layer control" looks a little better, but I think it's still "gets lost" being right on top of the legend. Maybe make the text stand out? Bolder? bigger font size?

[2016-08-25 23:48] rafelafrance commented on #62
How now?

[2016-08-26 00:52] funkycoda commented on #62
Much better. Maybe good for now, but we can re-visit this once we switch to Google Maps or if someone says something.

[2016-08-26 00:52] #62 closed, assigned to jmalczyk

[2016-09-13 20:16] villanueval opened #68 "Clicking 'All Datasets' takes you to github.io"
'All Datasets' on the green bar links to https://mapoflife.github.io/datasets/

Is this by design?

[2016-09-13 20:19] villanueval opened #69 "/inventory/maps not called in some datasets"
Testing adding geohashes of updated datasets, I can't seem to get the map to show up. The stats are in the right table, but it seems the /inventory/maps route is not called at all. Am I missing something, is it a cache issue, etc?

https://mol.org/datasets/66607fc8-567f-410a-b613-a64069e0c2ff

![datasets](https://cloud.githubusercontent.com/assets/2302171/18489901/aae2e896-79cd-11e6-8087-760706487

[2016-09-13 20:26] funkycoda commented on #68
Should have been fix as part of 95279141e0ea5b3f4cc557ed6d37af1ea21e9216  and #2
Can't tell easily who changed this. Could be an issue with the base href

[2016-09-13 20:37] funkycoda commented on #69
is this a child dataset?

[2016-09-13 20:47] villanueval commented on #69
Yeah, forgot to mention that. Would that explain why it is not loading the map?

[2016-09-13 21:21] funkycoda commented on #69
I think so. I have noticed this before and I'm sure I mentioned it to @rafelafrance. But can't figure out if I setup an issue. But, in theory, it should be automatic. Unless there is a change in the structure somehow, it's not being triggered.

Needs a bit more detailed investigation. I'll have a look at it when I get back, so we know why it isn't working.

[2017-02-28 14:08] villanueval opened #70 "Icons to indicate dataset status"
Can we add icons after the dataset title to indicate several possible status of each one? Using the [bootstrap glyphicons](http://getbootstrap.com/components/):

 * glyphicon-lock - to indicate it is set to private
 * glyphicon-alert - to indicate it is incomplete

Or something similar.

This would show up only for logged in admin users. The idea is to have a master place where we can see all this

[2017-02-28 14:13] villanueval commented on #41
No longer relevant. Closing. v 2.1 will have all available datasets showing up.

[2017-02-28 14:13] #41 closed, assigned to villanueval

[2017-02-28 15:04] villanueval opened #71 "Flexible nesting of groups"
Can the group listing be updated to be more flexible, and granular, by having the option of more than 2 levels? This would make it easier to display something closer to the real taxonomic groupings.

So instead of having:

 * Vertebrates
   * Birds
   * Mammals
   * Reptiles
   * Turtles

We could have something like:

 * Vertebrates
   * Birds
      * Waterfowl
      * Songbirds
   * Mammals

[2017-02-28 16:55] funkycoda commented on #71
Isn't this where the `family` comes in?

[2017-02-28 19:19] robgur commented on #71
Family is pretty granular.  Order would work better (for me).  I'd table
this for a bit - needs more discussion.

On Tue, Feb 28, 2017 at 11:55 AM, Ajay Ranipeta <notifications@github.com>
wrote:

[2017-03-01 14:59] funkycoda commented on #71
Agree with @robgur. Needs more discussion. Mobile (or web UX) might be a bit painful.

[2017-03-01 15:07] villanueval commented on #71
Was just asking to get an idea of possibilities for future development. Will leave for later.

[2017-03-01 15:38] villanueval commented on #68
Bump. Still linking to github.io.

[2017-04-03 17:30] mduong7 opened #72 "Improve datasets search"
Below is a suggestion from GMBA. Could we incorporate this into the datasets page? It would be handy to add some sort of search function (text, user-defined polygon, etc.) in addition to filtering by data type or taxonomic group. Feel free to add this dicussion to github (I'm not sure where to place this).

If I am a user who knows of Mr. XYZ and his database on mammals in Asian mountains, I might

[2017-04-03 17:31] mduong7 commented on #72
From Luis:

If I read this correctly, I think a solution would be to add a search box in the datasets page that looks in multiple places in the database. Kinda like when searching for species, where it searches for vernacular and sci names. It could search by dataset title, keywords, metadata, etc, and then return whatever matches.

[2017-04-26 20:54] villanueval opened #73 "Use 1.x api for testing"
I've set the routes for the new database. Please move the used routes to test:

* inventory/datasets ---> datasets/inventory (https://api.mol.org/1.x/datasets/inventory)
* inventory/maps ---> datasets/maps (https://api.mol.org/1.x/datasets/maps)
* inventory/bbox ---> datasets/bbox (https://api.mol.org/1.x/datasets/bbox)

It should be able to map some datasets, mostly butterflies as of today. Let m

[2017-08-28 19:51] villanueval opened #74 "Maps in dev are wrong"
This is supposed to be for Europe only:

https://mol.org/datasets-dev/96160c03-b68d-4cf9-8398-2a511033b16b

![datasets](https://user-images.githubusercontent.com/2302171/29790720-ba0ec2c4-8c08-11e7-9652-6c5b3b7ad25c.png)

Is it the data, the api, the query?

[2017-09-11 17:30] diego-ellis-soto opened #75 "Data for Half-Earth"
For Half Earth I am suppose to compute habitat suitability models for all birds, all mammals and all amphibians of the cape region.
Cape Region is defined by gadm_1: North, Eastern and Western Cape Region.

- [] (1)  Obtain a speciesList for all mammals, amphibians and birds occurring in the Cape Region. This speciesList should be created based (A) on the intersection of range maps and the Cape Re

[2017-09-11 17:42] #75 closed, assigned to nobody

[2017-09-28 19:45] villanueval commented on #74
Looks OK now. Closing.

[2017-09-28 19:45] #74 closed, assigned to nobody

[2017-09-28 19:52] villanueval opened #76 "New datasets not showing up in datasets-dev"
https://mol.org/datasets-dev/e7d101f1-8629-4ab1-a211-3cd9daae97c9

The metadata shows up but the map is empty. Can someone figure out if there is some data I'm missing in the server?

![asd](https://user-images.githubusercontent.com/2302171/30987330-b1b93b8a-a464-11e7-95bc-52def6e7e9e4.png)

[2017-09-28 19:59] villanueval commented on #76
nvm, seems `datasets/inventory` was cached and needed to be cleared.

Closing.

[2017-09-28 19:59] #76 closed, assigned to jmalczyk, funkycoda

[2017-10-04 13:21] mduong7 opened #77 "Point occurrences not showing"
Both in datasets and datasets-dev, only data types showing are:
Regional checklists
Local Inventories
Expert range maps
Gridded surveys

[2017-10-04 15:52] funkycoda commented on #77
Probably waiting on the metadata to be made live. This is database related so you might want to open the issue there.

[2017-10-04 16:07] jmalczyk commented on #77
More likely geohash generation related. For big point datasets we might
want to move this to BigQuery.

On Wed, Oct 4, 2017 at 11:52 AM, Ajay Ranipeta <notifications@github.com>
wrote:

[2017-10-04 16:14] villanueval commented on #77
Needed to improve the script that generates these stats, it was choking on large datasets (MapofLife/database#527). It works better now, just need to run on the missing datasets.

[2017-10-20 12:55] villanueval commented on #77
Point datasets now showing. I'm adding more every day.

Closing issue.

[2017-10-20 12:55] #77 closed, assigned to villanueval

[2017-12-04 20:53] villanueval commented on #69
I'm adding inventories and the map is not showing up. Seems related to this issue since `datasets/maps` is not called in the ones that fail:

https://mol.org/datasets/02f95a33-76db-458c-b7f2-cf904eafdd97

![maps2](https://user-images.githubusercontent.com/2302171/33575414-8f5210aa-d90a-11e7-955e-7c8d1da42a35.png)

One that works, `datasets/maps` got called

https://mol.org/datasets/517b7572-1bf0-4

[2017-12-06 17:11] villanueval commented on #69
Seems fixed now. I think the problem was a mismatched field in the dataset metadata (0905simplifiedcompletenessL1.xlsx) or a missing order by value. Refreshed all values and now the datasets page works.

Closing.

[2017-12-06 17:11] #69 closed, assigned to jmalczyk, funkycoda, rafelafrance

[2017-12-21 14:52] villanueval opened #78 "Long URL's extend beyond the text area"
URL's that are very long extend beyond the area for the text and even the page:

![datasets1](https://user-images.githubusercontent.com/2302171/34260559-5d8a05aa-e634-11e7-936e-64e491ed81af.png)

(https://mol.org/datasets/51ace8b5-a705-4220-b490-5fe94a2beb1f)

One way would be to get it to wrap or replace the URL with text ("Link to report at domain.com" or something like that).

[2018-01-29 14:42] villanueval opened #79 "Add # of records"
We removed the display of # of records per dataset. Test if this is fast enough or if we need to store the value, maybe in `mol2_data_registry` and add it to `mol.org/datasets`.

[2018-01-29 15:14] funkycoda commented on #79
Did this have the `No. of datasets` before? I wonder if we should bring it back with a pre-computed value

[2018-01-29 15:39] villanueval commented on #79
We did. I want to test if its best to calculate on the fly or store the val and then editing the query accordingly.

[2018-02-01 21:37] villanueval commented on #79
Now shows the number of records. Closing.

[2018-02-01 21:37] #79 closed, assigned to villanueval

[2018-07-19 14:59] mduong7 opened #80 "Datasets listed from /regions linkout has extra datasets"
Mismatch from expected species list and datasets list. For example, no fishes in Adamawa range, but IUCN fishes showing in /datasets. Driven by geohashes.

[2018-07-19 16:02] julieannhart commented on #80
This is probably related to database issues [806](https://github.com/MapofLife/database/issues/806), [808](https://github.com/MapofLife/database/issues/808), and [809](https://github.com/MapofLife/database/issues/809). Hopefully would be resolved by remaking the summary tables, but we should figure out exactly what is causing the problem to make sure.

[2022-04-06 18:02] frousseu opened #82 "Feedback form on website does not work"
Hi!

This is not an issue for this repo and it is probably not the best place for this, but the feedback form on the mol.org website does not seem to work and returns me this error page when I submit my feedback:

Oops! We have a problem
You can do the following:

Check the url
Let us know about it via the Contact form.

Let me know if you need anything more specific. I am on Windows with the late